
<!DOCTYPE html>
<html>
<head>
    <title>User Type Distribution</title>
    <style>
        /* Center the canvas */
        #chart-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            height: 60vh;
            
        }
        #userTypeChart {
            max-width: 60%; 
            max-height: 400px;
        }
        #table-container {
            margin-left: 20px; 
            text-align: center;
            max-width: 100%; 
            overflow: auto; 
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 2px solid #ddd;
            padding: 15px;
        }
        th {
            background-color: #f2f2f2;
            text-semibold;
        }
        .custom-hr {
            border-top: 2px solid black;
           
        }
        #serviceChartContainer {
            max-width: 80%; 
            margin: 0 auto; 
        }
        #serviceChart {
            max-width: 100%; 
        }

        #orderStatusChart {
            max-width: 80%; 
            max-height: 400px; 
            margin-right: 20px;
        }
        #orderStatusTable {
            width: 20%; /* Adjust width as needed */
            
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body class="h-[100vh] overflow-y-scroll">
    {% extends 'Base_content/Base_Dashboard.html'%}
    
    {% block content %}
  

    <br>
   {# pie chart started#}
    <h1 class="font-bold text-3xl text-center">User Type Distribution: Chart and Data Table</h1>
    <br>
    <br>
    <div id="chart-container">
        <canvas id="userTypeChart"></canvas> {#piechart#}
        <div id="table-container">
            <table>
                <thead>
                    <tr>
                        <th>User Type</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody>
                    {% for label, count in table_data %}
                    <tr>
                        <td>{{ label }}</td>
                        <td>{{ count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
  {#Next bar graph starts#}
    <hr class="custom-hr mb-1000px">
    <br>
    <h1 class="font-bold text-3xl text-center">Appointment Status Distribution</h1>
    <br>
    
    <canvas id="staffAppointmentChart"></canvas> {#bargraph#}
<br>
<br>
<h3 class="font-semibold text-2xl text-center">Table showing staff groups</h3>
<br>
    <table>
        <thead>
            <tr>
                <th>Staff</th>
                <th>User Type</th>
                <th>Pending</th>
                <th>Confirmed</th>
                <th>Canceled</th>
                <th>Completed</th>
            </tr>
        </thead>
        <tbody>
            <tbody>
                {% for staff, data in staff_data.items %}
                    <tr>
                        <td>{{ staff }}</td>
                        <td>
                            {% for user in all_user_login %}
                                {% if user.username == staff %}
                                    {{ user.groups.first }}
                                {% endif %}
                            {% endfor %}
                        </td>


                        <td>{{ data.Pending }}</td>
                        <td>{{ data.Confirm }}</td>
                        <td>{{ data.Canceled }}</td>
                        <td>{{ data.completed }}</td>
                    </tr>
               
            {% endfor %}
        </tbody>
        
    </table>
    <br>
    <hr class="custom-hr">
    {#end of bar graph#}
<br>
<br>
<h1 class="font-bold text-3xl text-center">Distribution of Services Booked by Users</h1>
<br>

     <!-- Service Distribution Chart -->
     <div id="serviceChartContainer">
        <canvas id="serviceChart"></canvas>
    </div>
    <br>
     <!-- SProduct Availability chart -->
    <hr class="custom-hr mb-1000px">
    <br>
<h1 class="font-bold text-3xl text-center">Product Inventory Availability</h1>
<br>
    <canvas id="productChart" width="800" height="400"></canvas>
    <br>
    <hr class="custom-hr mb-1000px">
     <!-- Order status chart -->
    <br>
    <h1 class="font-bold text-3xl text-center">Order Status Analysis</h1>
    <br>
    <div style="display: flex; flex-direction: row;">
        <div style="flex: 1; ">
            <canvas id="orderStatusChart" ></canvas>
        </div>
        <br>
        <div style="flex: 1;">
            <h3>Order Status Distribution Table</h3>
            <table>
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in order_data %}
                    <tr>
                        <td>{{ item.status }}</td>
                        <td>{{ item.count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                
            </table>
        </div>
    </div>
    <br>
    <hr class="custom-hr mb-1000px">
    
    {# First script for pie chart shows usertype distribution#}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var ctx = document.getElementById('userTypeChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: {{ labels|safe }},
                    datasets: [{
                        label: 'User Type Distribution',
                        data: {{ data|safe }},
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.7)',  // Red
                            'rgba(54, 162, 235, 0.7)',  // Blue
                            'rgba(255, 206, 86, 0.7)',  // Yellow
                            'rgba(75, 192, 192, 0.9)',  // Green
                            'rgba(153, 102, 255, 0.8)', // Purple
                        ],
                        borderColor: [
                            'rgba(255, 255, 255, 1)', 
                            'rgba(255, 255, 255, 1)', 
                            'rgba(255, 255, 255, 1)', 
                            'rgba(255, 255, 255, 1)', 
                            'rgba(255, 255, 255, 1)', 
                        ],
                        borderWidth: 2
                    }]
                },
                options: {
                    // Customize options as needed
                }
            });
        });
    </script>
    {# Second script appointment distribution and its status #}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var ctx = document.getElementById('staffAppointmentChart').getContext('2d');
            var staffData = {{ staff_data|safe }};
            var labels = Object.keys(staffData);
            var datasets = [];
            var statusLabels = ['Pending', 'Confirm', 'Canceled', 'completed'];
            var backgroundColors = ['rgba(255, 99, 132, 0.7)', 'rgba(54, 162, 235, 0.7)', 'rgba(255, 206, 86, 0.8)', 'rgba(75, 192, 192, 0.9)'];
            var borderColors = ['rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)', 'rgba(75, 192, 192, 1)'];
    
            statusLabels.forEach(function (status, index) {
                var data = labels.map(function (staff) {
                    return staffData[staff][status] || 0;
                });
    
                datasets.push({
                    label: status,
                    data: data,
                    backgroundColor: backgroundColors[index],
                    borderColor: borderColors[index],
                    borderWidth: 1
                });
            });
    
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: datasets
                },
                options: {
                    plugins: {
                        title: {
                            display: true,
                            text: 'Staff Appointment Status Distribution',
                            fontSize: 18,
                            fontColor: '#333',
                            padding: {
                                top: 10,
                                bottom: 10
                            }
                        }
                    },
                    scales: {
                        x: {
                            title: {
                                display: true,
                                text: 'Staff'
                            }
                        },
                        y: {
                            title: {
                                display: true,
                                text: 'Number of Appointments'
                            }
                        }
                    }
                }
            });
        });
    </script>
    

{#third script of service#}

<script>
    document.addEventListener('DOMContentLoaded', function () {
       
        var serviceData = {{ service_data|safe }};
        var serviceLabels = Object.keys(serviceData);
        var serviceCounts = Object.values(serviceData);

        var serviceColors = [
            'rgba(255, 99, 132, 0.9)',   // Red
            'rgba(54, 162, 235, 0.9)',   // Blue
            'rgba(255, 159, 64, 0.8)',   // Orange
            'rgba(75, 192, 192, 0.9)',   // Green
          
            
           
           
        ];

        var serviceCtx = document.getElementById('serviceChart').getContext('2d');
        var serviceChart = new Chart(serviceCtx, {
            type: 'bar',
            data: {
                labels: serviceLabels,
                datasets: [{
                    label: 'Service Distribution',
                    data: serviceCounts,
                    backgroundColor: serviceColors,
                    borderColor: 'rgba(255, 255, 255, 1)',
                    borderWidth: 2
                }]
            },
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Distribution of Services ',
                        fontSize: 20,
                        fontColor: '#333',
                        padding: {
                            top: 10,
                            bottom: 10
                        },
                        font: {
                            weight: 'bold' // Make the title text bold
                        }
                    }
                },
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Service',
                            font: {
                                weight: 'bold' // Make the x-axis scale text bold
                            }
                        },
                        ticks: {
                            font: {
                                weight: 'bold' // Make the x-axis tick text bold
                            }
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Number of Bookings',
                            font: {
                                weight: 'bold' // Make the y-axis scale text bold
                            }
                        },
                        ticks: {
                            font: {
                                weight: 'bold' 
                            }
                        }
                    }
                },
                indexAxis: 'x', // applied to x-axis
        barPercentage: 0.5, //  control bar width
        categoryPercentage: 0.6 //  control space between bars
            }
        });
    });
</script>

    {# 4th script product Availability chart #}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var productLabels = {{ product_names|safe }};
        var productCounts = {{ product_stock|safe }};
        
        var productColors = [
            'rgba(255, 99, 132, 0.9)',   // Red
            'rgba(54, 162, 235, 0.9)',   // Blue
            'rgba(255, 159, 64, 0.8)',   // Orange
            'rgba(75, 192, 192, 0.9)',   // Green
            // Add more colors if needed
        ];

        var productCtx = document.getElementById('productChart').getContext('2d');
        var productChart = new Chart(productCtx, {
            type: 'bar',
            data: {
                labels: productLabels,
                datasets: [{
                    label: 'Stock Availability',
                    data: productCounts,
                    backgroundColor: productColors,
                    borderColor: 'rgba(255, 255, 255, 1)',
                    borderWidth: 2
                }]
            },
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Product Stock Availability',
                        fontSize: 20,
                        fontColor: '#333',
                        padding: {
                            top: 10,
                            bottom: 10
                        },
                        font: {
                            weight: 'bold' // Make the title text bold
                        }
                    }
                },
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Product',
                            font: {
                                weight: 'bold' // Make the x-axis scale text bold
                            }
                        },
                        ticks: {
                            font: {
                                weight: 'bold' // Make the x-axis tick text bold
                            }
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Stock Availability',
                            font: {
                                weight: 'bold' // Make the y-axis scale text bold
                            }
                        },
                        ticks: {
                            font: {
                                weight: 'bold' 
                            }
                        }
                    }
                },
                indexAxis: 'x', // applied to x-axis
                barPercentage: 0.5, // control bar width
                categoryPercentage: 0.6 // control space between bars
            }
        });
    });
</script>



    {# 5th script order status  chart#}


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var orderStatusLabels = {{ order_statuses|safe }};
        var orderStatusCounts = {{ order_counts|safe }};

        var orderStatusColors = [
            'rgba(255, 99, 132, 0.9)',   // Red
            'rgba(54, 162, 235, 0.9)',   // Blue
            'rgba(255, 159, 64, 0.8)'    // Orange
        ];

        var orderStatusCtx = document.getElementById('orderStatusChart').getContext('2d');
        var orderStatusChart = new Chart(orderStatusCtx, {
            type: 'doughnut',
            data: {
                labels: orderStatusLabels,
                datasets: [{
                    label: 'Order Status',
                    data: orderStatusCounts,
                    backgroundColor: orderStatusColors,
                    borderColor: 'rgba(255, 255, 255, 1)',
                    borderWidth: 2
                }]
            },
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Order Status Analysis',
                        fontSize: 20,
                        fontColor: '#333',
                        padding: {
                            top: 10,
                            bottom: 10
                        },
                        font: {
                            weight: 'bold'
                        }
                    }
                }
            }
        });
    });
</script>

    {% endblock %}
</body>
</html>
