{% extends 'Base_content/Base_Dashboard.html'%} 
{% block content %}
<div class="container mx-auto py-8">
    <h1 class="text-3xl font-semibold text-left ml-8 mb-8"> My Appointments </h1>
    <div class="bg-white shadow overflow-hidden sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Date</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Time</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">User</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">StylisT</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Service</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Status</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Feedbacks</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                {% for booking_request in booking_requests %}
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap">{{ booking_request.bookDate }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ booking_request.bookTime }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ booking_request.user }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ booking_request.staff }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ booking_request.service }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        {% if booking_request.bookDate < current_date %}
                            {% if booking_request.confirmed %}
                                Completed
                            {% else %}
                                Pending
                            {% endif %}
                        {% else %}
                            Pending
                        {% endif %}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        {% if booking_request.confirmed and booking_request.bookDate < current_date %}
                        
                            <!-- Only allow feedback submission for completed appointments -->
                            <form method="post" action="{% url 'feedback' %}">
                                {% csrf_token %}
                                <input type="hidden" name="bookingId" value="{{ booking_request.id }}">
                                <textarea name="feedback" placeholder="Enter your feedback"></textarea>
                                <button type="submit">Submit Feedback</button>
                            </form>
                        {% else %}
                            Sending Feedback will be available <br> after complition of appointment date.
                        {% endif %}
                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% if messages %}
  <div class="alert alert-danger">
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

{% endblock %}

