
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add To Cart</title>
  

<script>

    function updateQuantity(productId, change, maxStock) {
        const Inputquantity = document.getElementById(`Inputquantity-${productId}`);
        console.log(productId);
        console.log(`Updating quantity for product ${productId}. Current value: ${Inputquantity.value}`);
        
        let newQuantity = parseInt(Inputquantity.value) + change;

        // Ensure the new quantity is within the limits (1 to product stock)
        newQuantity = Math.max(1, Math.min(newQuantity, maxStock));

        Inputquantity.value = newQuantity;
        console.log(`New quantity for product ${productId}: ${newQuantity}`);

        // Add additional logs to debug
        console.log(`Change: ${change}`); 
        console.log(`Max Stock: ${maxStock}`);
        
    }
</script>
 
</head>
<body>
{% extends 'Base_Content/base.html'%}   
{% block content %} 
<div class="container mx-auto">
  <!-- Title and Shopping Cart Icon -->
  <div class="flex items-center justify-between py-4">
    <h1 class="text-2xl font-semibold">Shopping Cart</h1>
    <div class="flex items-center">
      <!-- Online Shopping Cart Icon from Font Awesome -->
      <i class="fas fa-shopping-cart text-red-700 text-xl mr-2"></i>
    </div>
  </div>

  <!-- Cart Table -->
  <div class="overflow-x-auto">
    <table class="table-auto w-full border-collapse border border-gray-400">
      <thead>
        <tr>
          <th class="px-4 py-2 bg-gray-200">Product</th>
          <th class="px-4 py-2 bg-gray-200">Brand</th>
          <th class="px-4 py-2 bg-gray-200">Price</th>
          <th class="px-4 py-2 bg-gray-200">Quantity</th>
          <th class="px-4 py-2 bg-gray-200">Action</th>
        </tr>
      </thead>
      
    <form method="post" action="{% url 'update_cart' %}" id="update_cart_quantity">
        {% csrf_token %}

    {% for cart_item in cart_item_set %}
    <tbody class="divide-y divide-gray-200 bg-white ">
        <tr>
            <td class="whitespace-nowrap px-4 py-4">
                <div class="flex items-center justify-center">
                    <div class="flex">
                        <a href="{% url 'productdetail' cart_item.product.id %}">
                            <img src="{{ cart_item.product.images.first.image.url }}"
                                alt="{{ cart_item.product.productName }}"
                                class="sm:h-38 sm:w-38 h-[8rem] w-[8rem] rounded-xl object-cover" />
                        </a>
                    </div>
                    <div class="ml-4">
                        <div class="text-sm font-medium text-gray-900">
                            {{ cart_item.product.productName }}
                        </div>
                    </div>
                </div>
            </td>
            <td class="whitespace-nowrap px-12 py-4">
                <div class="text-sm text-gray-900 text-center">
                    {{ cart_item.product.productBrand }}
                </div>
            </td>
            <td class="whitespace-nowrap px-4 py-4 text-center">
                Rs {{ cart_item.product.productPrice }}
            </td>
            <td class="whitespace-nowrap px-4 py-4 text-sm text-gray-700 ">
                <div class="min-w-24 flex items-center justify-center">
                    <button type="button" class="h-7 w-7"
                        onclick="updateQuantity('{{ cart_item.product.id }}', -1, {{ cart_item.product.productStock }})">
                        -
                    </button>
                    
                    <input type="text" name="Inputquantity-{{ cart_item.product.id }}"
                        id="Inputquantity-{{ cart_item.product.id }}"
                        class="mx-1 h-7 w-9 rounded-md border text-center"
                        value="{{ cart_item.Quantity }}" readonly />
                    <button type="button" class="flex h-7 w-7 items-center justify-center"
                        onclick="updateQuantity('{{ cart_item.product.id }}', 1, {{ cart_item.product.productStock }})">
                    +
                </button>
                </div>
            </td>                                       


            <td class="whitespace-nowrap px-4 py-4  text-sm font-medium text-center">
                    
            <button type="submit" value="{{cart_item.product.id }}" name="delete"
                class="text-xs font-medium text-red-500 pr-10 text-center">REMOVE</button>
                        
                                                     
            </td>
        </tr>

        {% endfor %}

    </form>
    </table>
    <section aria-labelledby="summary-heading" class="rounded-md bg-white lg:col-span-4 lg:mt-0 lg:p-0">
        <h2 id="summary-heading" class="border-b border-gray-200 px-4 text-lg font-medium text-gray-900 sm:p-4">
            Price Details
        </h2>
        <div>
            <dl class="space-y-1 px-2 py-4">
                <div class="flex items-center justify-between">
                    <dt class="text-sm text-gray-800">Total Items in Cart</dt>
                    <dd class="text-sm font-medium text-gray-900">

                        {% with total_items=cart_item_set|length %}
                        {{ total_items }}
                        {% endwith %}</dd>  
                </div>
                
            </dl>
           
        </div>
    </section>
  </div>
  

<!--button-->
<!--button-->
{% if cart_item_set %}
<div class="mt-8 container mx-auto flex flex-col md:flex-row md:justify-between items-center">
  <div>
    <button type="submit" form="update_cart_quantity" class="bg-blue-600 hover:bg-cyan-700 text-white px-4 py-2 rounded">Update Cart</button>
  </div>
  <div class="md:mt-0 mt-4">
    <p class="md:text-center font-semibold md:mb-4">Shipping : Cost will appear on place order</p>
    <!-- Place Order button only appears when there are items in the cart -->
    <button class="bg-teal-600 hover:bg-teal-500 text-white px-4 py-2 rounded">
      <a href="{% url 'checkoutpage' %}">Place Order</a>
    </button>
  </div>
</div>
{% else %}
<!-- Modal content -->

<div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
    <!-- Modal header -->
    <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
        No items in cart
      </h3>
      <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="crud-modal">
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
    </div>
   <!-- Message body -->
  <div class="p-4 md:p-5">
    <p class="text-gray-700 dark:text-gray-300">Your shopping cart is currently empty. Start shopping now to add items to your cart!</p>
    <br>
    <a href="{% url 'productpage' %}" class="mt-4 bg-blue-600 hover:bg-teal-700 text-white px-4 py-2 rounded-md">Start Shopping</a>
  </div>
  </div>
{% endif %}

{% endblock %}
