<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
</head>

<body class="bg-gray-100">
    {% extends 'Base_content/Base_Dashboard.html' %}
    {% block content %}
    <div class="container bg-gray-100">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="shadow-sm bg-white p-2 flex justify-between ">
                <div class="p-4">
                    <h1 class="text-3xl font-semibold">Edit Product</h1>
                    {% if form.errors and form.is_bound %}
                    <div class="alert alert-danger">
                        <strong>Error!</strong> Please correct the following errors:
                        <ul>
                            {% for field, error in form.errors.items %}
                            <li>{{ field|title }}: {{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
              
            </div>
    
            <div class="bg-gray-100"><br></div>
    
            <div class="flex justify-between">
                <!-- General Information -->
                <div class="container2 shadow-sm bg-white w-[54%] mb-5">
                    <div class="p-5">
                        <h1 class="text-2xl mb-5 font-bold">General Information</h1>
                        <label class="text-xl">Product Name</label><br>
                        {{ form.productName }}<br>
    
                        <label class="text-xl">Product Brand</label><br>
                        {{ form.productBrand }}<br>
    
                        <label class="text-xl">Product Description</label><br>
                        {{ form.productDescription }} <br>
                        <label for="categories" class="text-xl">Product Category</label><br>
                        {{ form.productCategory }}<br>
                        <label class="text-xl">Product Price</label><br>
                        {{ form.productPrice }}<br>
                        <label class="text-xl">Product Stock</label><br>
                        {{ form.productStock }}<br>
                    </div>
                </div>

    
                <!-- Image Upload Section -->
                <div class="w-[45.1%]">
                    <div class="shadow-sm bg-white h-[64.5vh] w-[100%]">
                        <div class="p-4 mb-5">
                            <h1 class="text-2xl font-bold ">Edit Product Photo</h1>
                            <p>(All existing images will be replaced upon editing the product.)</p>
                        </div>
    
                        <h1 class="text-center px-5" id="product-img-heading">Images add up to 3 will be uploaded.</h1>
    
                        <div id="image-container" class="grid grid-cols-3 gap-3 ml-3">
                            <!-- Display existing images -->
                            {% for image in product_instance.images.all %}
                            <div class="w-[10rem] h-[10rem]">
                                <img src="{{ image.url }}" class="w-full h-full  object-cover" alt="sure" />
                            </div>
                            {% endfor %}
                        </div>
    
                        <div class="flex justify-center mt-[5rem]">
                            <label required for="product-image-input" class="bg-teal-600 cursor-pointer text-white  relative inline-flex justify-center w-[15rem] px-7 py-2 border border-transparent text-base leading-6 font-medium rounded-md transition duration-150 ease-in-out">
                                <span>Add image</span>
                                <input id="product-image" name="productImage" type="file" accept="image/png, image/jpeg" multiple class="absolute block opacity-0 w-full h-full cursor-pointer"/>
                            </label>
                        </div>
                        <br><br><br><br><br><br>
                        <div class="flex justify-between  p-10">
                            <button type="submit" class="w-[10rem] h-10 bg-teal-700 text-white">
                                <span class="text-white">Edit Product</span>
                            </button>

                            <button type="button" onclick="discardChanges()" class="border-2 border-red-600  w-[10rem] h-10 mr-10">
                                <span class="text-red-600">Discard Changes</span>
                            </button>
            
                          
                        </div>
    
                        <script>
                            document.getElementById("product-image").addEventListener('change', function (event) {
                                const container = document.getElementById("image-container");
                                const files = event.target.files;
                                document.getElementById('product-img-heading').style.display = "none";
    
                                // Clear existing images
                                container.innerHTML = '';
    
                                // Display uploaded images
                                for (let i = 0; i < Math.min(files.length, 3); i++) {
                                    const file = files[i];
                                    const fileURL = URL.createObjectURL(file);
    
                                    const imgDiv = document.createElement("div");
                                    imgDiv.classList.add("w-[10rem]", "h-[10rem]", );
                                    imgDiv.innerHTML = '<img src="' + fileURL + '" class="w-full h-full object-cover" alt="" />';
    
                                    container.appendChild(imgDiv);
                                }
                            });
                        </script>
                    </div>
                </div>
            </div>
    
           
        </form>
    </div>
    
    {% endblock %}
</body>
</html>
