<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product</title>
  
</head>

<body>
{% extends 'Base_Content/base.html'%}   
{% block content %} 
{% if messages %}
  <div id="notification" class="bg-green-500 text-white px-4 py-2 rounded-md fixed bottom-5 right-5 z-50">
    {% for message in messages %}
      <span class="mr-2"><i class="fas fa-check-circle"></i></span>{{ message }}
    {% endfor %}
  </div>
{% endif %}

<!-- Banner with Salon Image -->
<div class="relative h-90 bg-cover bg-center bg-no-repeat flex">
  <div class="absolute inset-0 bg-black opacity-50"></div>
  <img src="static/Image/bg-2.jpg" alt="Your Salon Logo" class="flex-shrink-0 w-full">
  <div class="absolute top-0 left-0 mt-48 p-10 text-white w-full text-center">
    <h6 class="text-2xl font-bold mb-6">New in town</h6>
    <h1 class="text-6xl font-bold mb-6">Discover The New Beauty Collection: Pure Elegance</h1>
    <h4 class="text-2xl font-regular mb-10">"Elevate your beauty with our latest collection, a fusion of style, sophistication and glamour "</h4>
{% if request.user.is_authenticated %}
    {% if request.user.userdetail.user_type == 'customer' %}
        <a href="{% url 'cartview' %}" class="bg-teal-500 text-white px-8 py-3 rounded-full hover:bg-teal-600">SHOP NOW</a>
    {% endif %}
{% else %}
    <a href="{% url 'login' %}" class="bg-teal-500 text-white px-8 py-3 rounded-full hover:bg-teal-600">SHOP NOW</a>
{% endif %}


  </div>
</div>

<br> 

<form action="{% url 'productpage' %}" role="search">
  {% csrf_token %}

<div class="grid grid-cols-2">
  <div class="w-96">
      <select name="searchFor" class="py-3 px-4 pe-9 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none">
        <option ="">Select category</option>
        {% for category, _ in productCategoryChoice %}
        <option value="{{category}}">{{category}}</option>

        {% endfor %}
      </select>
  </div>

  {% comment %} <div>
      <!-- Using utilities: -->
    <button name="searchByCategory" type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
      Search by category
    </button>
  </div> {% endcomment %}


  <div class="w-96">
    <input name="searchForName" placeholder="Search product..." class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" id="inline-full-name" type="text" value="">
  </div>

  <div>
    <!-- Using utilities: -->
  <button name="searchProduct" type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
    Search by name
  </button>
</div>
</div>
</form>
{% comment %} 
<form method="" action="post">
  
</form> {% endcomment %}

<div class="text-center">
  {% if SearchFor and SearchFor != 'Select category' and not searchForName  %}
  <h5 class="text-black text-2xl font-semibold font-regular mb-2">Search result for: {{SearchFor}}</h5>
  {% elif searchForName and not SearchFor and SearchFor != 'Select category' %}
  <h5 class="text-black text-2xl font-semibold font-regular mb-2">Search result for: {{searchForName}}</h5>
  {% elif SearchFor and searchForName %}
  <h5 class="text-black text-2xl font-semibold font-regular mb-2">Search result for: {{SearchFor}} and {{searchForName}}</h5>
  {% endif %}
  <p class="text-gray-700 text-2xl mb-8" style="font-family: 'Great Vibes', cursive">"Embrace your beauty with confidence and grace."</p>
</div>

{% for category, _ in productCategoryChoice %}

<!-- Service Section -->
<div class="container mx-auto grid grid-cols-1 md:grid-cols-4 gap-32">
  {% for product in productList %}
   <!-- {% if product.productCategory == category %}-->
      <div class="flex flex-col items-center">
        <!-- displaying product picture -->
        <div id="gallery" class="relative w-full" data-carousel="slide">
          <!-- Carousel wrapper -->
          <div class="relative h-72 overflow-hidden rounded-lg">
           
              {% for image in product.images.all %}
                  <div class="hidden duration-700 ease-in-out" data-carousel-item>
                       <a href="{% url 'productdetail' product.id %}"> 
                        <img src="{{ image.image.url }}" alt="{{ productdetail.productName }}"
                               class="rounded-md md:aspect-auto w-full h-full rounded-lg object-cover">
                    </a> 
                  </div>
              {% endfor %}
          </div>
        </div>

        <!-- Product details -->
        <h1 class="text-lg font-medium mt-4">{{ product.productName }}</h1>
        <p class="mt-2 text-sm">{{ product.productBrand }}</p>
        <p class="mt-2 text-sm">Stock ({{ product.productStock }})</p>
        <p class="mt-2 text-sm"> Rs {{ product.productPrice }}</p>
        <p class="rating-stars"></p>
        <p id="rating-message" class="mt-2 text-gray-600"></p>

        <!-- Add to Cart button -->
        <button class="bg-teal-600 text-white px-4 py-2 rounded-md mt-2"> <a href = "{% url 'addtocart' product.id%}">Add to Cart</a></button>
      </div>
    <!--{% endif %}-->
  {% endfor %}
</div>
{% endfor %}




<!-- Script for generating stars -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
      // Select all elements with class'
      const starsContainers = document.querySelectorAll('.rating-stars');
  
      // Iterate through each  container
      starsContainers.forEach(starsContainer => {
          
          for (let i = 1; i <= 5; i++) { //5star
              const star = document.createElement('span');
              star.classList.add(
                  'cursor-pointer',
                  'text-2xl',
                  'mr-1',
                  'pr-1',
                  'hover:text-yellow-500',
                  'transition',
                  'transform',
                  'duration-200',
                  'ease-in-out'
              );
              star.innerHTML = '★';
  
             
              star.addEventListener('click', function () {  // click event to each star
                  const rating = i;
                  updateRating(starsContainer, rating);
              });
  
              starsContainer.appendChild(star);
          }
      });
  
      
      function updateRating(container, rating) { // Function to update stars for  container
          
          highlightStars(container, rating);
      }
  
      // Function to give color to star
      function highlightStars(container, rating) {
          const stars = container.children;
  
          for (let i = 0; i < stars.length; i++) {
              if (i < rating) {
                  stars[i].classList.add('text-yellow-500');
              } else {
                  stars[i].classList.remove('text-yellow-500');
              }
          }
      }
  });
</script>
{% endblock %}
</body>
</html>
