{% extends 'Base_content/Base_Dashboard.html'%} 
{% block content%}

<div class="ml-10">
    <br>
    <br>
    <div class="flex justify-between items-center mb-4">
        <div class="shadow-md bg-white p-2 w-full">
        <h2 class="text-2xl font-semibold m-2">Product List</h2>
        <div class="flex items-center mb-2 justify-between ml-[700px]">
            <!-- Filter option -->
            <select id="categoryFilter" name="productCategory" class="px-2 py-1 border rounded mr-4" onchange="filterProducts()">
                <option value="" disabled selected>Select a category</option>
                {% for category in productCategoryChoice %}
        <option value="{{ category }}">{{ category }}</option>
    {% endfor %}
            </select>
            
            <!-- Add button -->
            <button class="bg-blue-500 hover:bg-teal-700 text-white font-semibold py-1 px-2 rounded focus:outline-none focus:shadow-outline" onclick="window.location.href='{% url 'addproduct' %}'">
                Add Product
            </button>
        </div>
    </div>
    </div>
    <br>
    <div class="overflow-x-auto bg-white">
        <table class="min-w-max w-full text-lg table-auto border-2 border-gray-700">
            <thead>
                <tr>
                    <th class="px-4 py-2 ">Product Name</th>
                    <th class="px-4 py-2">Category</th>
                    <th class="px-4 py-2">Brand</th>
                    <th class="px-4 py-2">Price</th>
                    <th class="px-4 py-2">Stock</th>
                    <th class="px-4 py-2">Actions</th>
                </tr>
            </thead>
            <tbody>
                
                {% for product in products %}
                <tr  class="text-center" id="{{ product.productCategory }}">
                    <td class="border-2  border-gray-800  text-md px-4 py-2">{{ product.productName }}</td>
                    <td class="border-2  border-gray-800   text-md px-4 py-2">{{ product.productCategory }}</td>
                    <td class="border-2  border-gray-800   text-md px-4 py-2">{{ product.productBrand }}</td>
                    <td class="border-2 border-gray-800  text-md px-4 py-2">{{ product.productPrice }}</td>
                    <td class="border-2 border-gray-800  text-md px-4 py-2">{{ product.productStock }}</td>
                    <td class="border-2 border-gray-800  text-md px-4 py-2">
                        <form method="post" action="{% url 'productlist' %}">
                            {% csrf_token %}
                            <a href="{% url 'edit_product' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 mr-2 rounded focus:outline-none focus:shadow-outline">
                                <i class="fas fa-edit"></i>
                            </a>
                            <button type="submit" name="delete" class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded focus:outline-none focus:shadow-outline">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                        </form>
                    </td>
                </tr>
                {% endfor %}
                <!-- Add more rows for each product -->
            
            </tbody>
        </table>
    </div>
</div>
<script>
    function filterProducts() {
        var selectedCategory = document.getElementById("categoryFilter").value;
        var tableRows = document.querySelectorAll("tbody tr");
    
        for (var i = 0; i < tableRows.length; i++) {
            var category = tableRows[i].getAttribute("id");
            if (category === selectedCategory || selectedCategory === "") {
                tableRows[i].style.display = "";
            } else {
                tableRows[i].style.display = "none";
            }
        }
    }
    
</script>

{% endblock %}
</body>
</html>