<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 Error</title>
</head>
<body>
  <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh;">
    <a href="#">
      <img src=" static/Image/error.jpg " alt="404 Error" style="width: 600px; height: auto; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">
    </a>
    <br>
    <a href="{% url 'home' %}">
      <button class="primary bg-teal-600 hover:bg-teal-400 text-white px-8 py-2">Back to home</button>
    </a>
    
  </div>
  
</body>
</html>
