<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet"
    />
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var userDropdownToggle = document.getElementById('userDropdownToggle');
        var userDropdown = document.getElementById('userDropdown');
        
        userDropdownToggle.addEventListener('click', function() {
            userDropdown.classList.toggle('hidden');
        });
    });
    
    </script>
  </head>
  <body class="bg-gray-100">
    <!-- Navigation -->
    <header class="bg-white shadow-sm p-4 flex justify-between items-center">
      <!-- Logo -->
      <div class="flex items-center relative">
        <!-- Logo -->
        <img src="/static/Image/logo.svg" alt="" class="mr-10" />
        <div class="relative">
          <input
            type="text"
            class="bg-gray-300 text-black rounded-full py-2 px-7 pl-10 focus:outline-none focus:bg-white focus:text-gray-900"
            placeholder="Search..."
          />
          <span
            class="absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-600"
            ><i class="fas fa-search"></i
          ></span>
          <button class="ml-2 px-4 py-2 bg-[#009688] text-white rounded-full">
            Search
          </button>
        </div>
      </div>

      <!-- User Profile -->
      <div class="relative">
        <div class="flex items-center cursor-pointer" id="userDropdownToggle">
            <span class="text-gray-600 mr-10">
                <i class="fas fa-user-circle text-2xl mr-2"></i>
                {{ request.user.username }}
            </span>
          </div>
            <div class="absolute hidden bg-white rounded shadow-md mt-2 py-2 w-48 hidden" style = "font-family: poppins" id="userDropdown">
                <a href="{% url 'home' %}" class="block px-6 py-2 text-gray-800 hover:bg-cyan-600"><i class="fas fa-home text-1xl text-regular mr-2"></i>Home</a>
              <a href="{% url 'logout' %}" class="block px-6 py-2 text-gray-800 hover:bg-cyan-600 hover:text-white"> <i class="fas fa-sign-out-alt text-1xl text-regular mr-2"></i>Logout</a>
          </div>
            
        </div>
        
    </div>
    </header>
    <br /><br />
   
      <form
        action=""
        method="post"
        class="max-w-md mx-auto bg-white p-8 rounded shadow-md"
      >
        {% csrf_token %}
        <h2
          class="text-3xl text-center font-bold mb-4"
          style="font-family: poppins"
        >
          Change Password
        </h2>
        <div class="mb-4">
          <label
            for="old_password"
            class="block text-1xl font-semibold font-medium text-gray-700"
            style="font-family: poppins"
            >Old Password</label
          >
          <input
            type="password"
            id="old_password"
            name="currentPassword"
            class="bg-cyan-50 border-2 border-cyan-500 text-cyan-900 text-sm rounded-lg block w-full p-2.5"
            style="font-family: poppins"
            placeholder="Current password"
            required
          />
        </div>
        <div class="mb-4">
          <label
            for="new_password"
            class="block text-1xl font-semibold font-medium text-gray-700"
            style="font-family: poppins"
            >New Password</label
          >
          <input
            type="password"
            id="new_password"
            name="newPassword"
            class="bg-cyan-50 border-2 border-cyan-500 text-cyan-900 text-sm rounded-lg block w-full p-2.5"
            style="font-family: poppins"
            placeholder="New password"
            required
          />
        </div>
        <div class="mb-4">
          <label
            for="confirmPassword"
            class="block mb-2 text-1xl font-semibold font-medium text-gray-900"
            style="font-family: poppins"
            >Confirm Password</label
          >
          <input
            type="password"
            name="confirmPassword"
            class="bg-cyan-50 border-2 border-cyan-500 text-cyan-900 text-sm rounded-lg block w-full p-2.5"
            style="font-family: poppins"
            placeholder="Confirm new password"
            required
          />
        </div>
        <div>
          <button
            type="submit"
            name="ChangePassword"
            class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-[#009688] hover:bg-cyan-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          >
            Change Password
          </button>
          <div class="mt-4" flex items-center>
            <a
              href="{% url 'EditProfile' user.id %}"
              class="text-cyan-700 hover:text-blue-300 mr-20"
              ><i class="fas fa-arrow-left mr-1"></i>Back</a
            >
            <a
              href="{% url 'reset_password' %}"
              class="text-cyan-700 hover:text-blue-300 ml-20"
              >Forgot password?</a
            >
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
