<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Confirm</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 h-screen flex items-center justify-center">

    <div class="max-w-md w-full bg-white p-8 rounded-md shadow-md">
        <h1 class="text-2xl font-semibold mb-6">Password Reset</h1>

            <form method="post">
                {% csrf_token %}
               <div class="mb-4">
                    <p class="block text-sm font-medium text-gray-600">New Password</p>
                    <input placeholder="New Password" type="password" name="new_password1" class="focus:outline-none focus:shadow mt-2 p-2 border rounded w-full">
                </div>

                <div class="mb-6">
                    <p class="block text-sm font-medium text-gray-600">Confirm Password</p>
                    <input placeholder="Re-New Password" type="password" name="new_password2" class="focus:outline-none focus:shadow mt-2 p-2 border rounded w-full">
                </div>

                <input type="submit" class="cursor-pointer bg-blue-500 text-white px-4 py-2 rounded-md" value="Reset Password">
            </form>

        <p class="mt-4 text-gray-600">Remember your password? <a href="{% url 'login' %}" class="text-blue-500">Login</a></p>
    </div>

</body>
</html>
