{% extends 'Base_content/Base_Dashboard.html'%} 

{% block content %}
<body class="bg-gray-100">
    <div class="container mx-auto py-8">\
        {% if canceled_appointments %}
        <h1 class="text-3xl font-semibold text-left ml-8 mb-8"> Rejected Appointments </h1>
        
            <div class="bg-white shadow overflow-hidden sm:rounded-lg">
                <div class="overflow-x-auto">
                    <table class="min-w-full divide-y divide-gray-200">
                        <thead class="bg-gray-50">
                            <tr>
                                <th scope="col" class="px-6 py-3 text-left md:text-xl font-medium font-semibold text-gray-700 tracking-wider">Date</th>
                                <th scope="col" class="px-6 py-3 text-left md:text-xl font-medium font-semibold text-gray-700 tracking-wider">Time</th>
                                <th scope="col" class="px-6 py-3 text-left md:text-xl font-medium font-semibold text-gray-700 tracking-wider">Customer Name</th>
                                <th scope="col" class="px-6 py-3 text-left md:text-xl font-medium font-semibold text-gray-700 tracking-wider">Stylist</th>
                                <th scope="col" class="px-6 py-3 text-left md:text-xl font-medium font-semibold text-gray-700 tracking-wider">Service</th>
                                <th scope="col" class="px-6 py-3 text-left md:text-xl font-medium font-semibold text-gray-700 tracking-wider">Status</th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200">
                            {% for appointment in canceled_appointments %}
                            <tr>
                                <td class="px-6 py-4 whitespace-nowrap text-lg md:text-lg">{{ appointment.bookDate }}</td>
                                <td class="px-6 py-4 whitespace-nowrap text-lg md:text-lg">{{ appointment.bookTime }}</td>
                                <td class="px-6 py-4 whitespace-nowrap text-center text-lg md:text-lg">{{ appointment.user }}</td>
                                <td class="px-6 py-4 whitespace-nowrap text-lg md:text-lg">{{ appointment.staff }}</td>
                                <td class="px-6 py-4 whitespace-nowrap text-lg md:text-lg">{{ appointment.service }}</td>
                                <td class="px-6 py-4 whitespace-nowrap text-lg md:text-lg {% if appointment.status == 'Canceled' %}text-red-600 font-medium{% endif %}">
                                    {{ appointment.status }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <p class="text-center text-3xl font-semibold mt-8">No Rejected appointment yet.</p>
                <img src="static/Image/Reject.svg" alt="No Appointments Image" style="width: 600px; display: block; margin: 0 auto;">
            {% endif %}    
    </div>
</body>
{% endblock %}
