
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Booking Appointment</title>
  <!-- Add your CSS or other meta tags here -->
</head>

<body>
    {% extends 'Base_Content/base.html'%}   
{% block content %} 
{% comment %} {% if messages %}
  <div id="notification" class="bg-green-500 text-white px-4 py-2 rounded-md fixed bottom-5 right-5 z-50">
    {% for message in messages %}
      <div class="flex items-center">
        <span class="mr-2"><i class="fas fa-check-circle"></i></span>
        <span>{{ message }}</span>
      </div>
    {% endfor %}
  </div>
{% endif %} {% endcomment %}



<div class="relative h-90 bg-cover bg-center bg-repeat flex justify-center items-center"> <img src="/static/Image/banner-2.jpg" alt="Your Salon Logo">
    <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center">
      <h1 class="text-white text-4xl font-bold mb-4 mt-10" style="font-family: poppins ">BOOK AN APPOINTMENT</h1>
      <h4 class="text-white text-2xl font-regular mb-10 mt-6" style="font-family: poppins ">PLEASE FILL OUT THE APPOINTMENT FORM BELOW TO MAKE APPOINTMENT</h4>
      </div>
  </div>
  
  <div class="max-w-full mx-auto mt-8 px-4" style="margin-left: 100px;">
    <form method = "POST" >
      {% csrf_token %}
      <!-- First Column (Text Fields) -->
      <div class="mb-6 grid grid-cols-1 gap-8 sm:grid-cols-2">
  
        
        <div>
          <label for="service" class="block text-sm font-medium text-gray-600">Select Service</label>
          <select id="service" name="service" class="mt-1 p-2 block w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0" style="width: calc(100% - 12px);">
            <option value="">Select Service</option>
            <option value="Hair service">Hair service</option>
            <option value="Make-up">Make-up</option> 
            <option value="Skin Care">Skin Care</option>
            <option value="Nail Service">Nail Service</option>               
          </select>
        </div>
        <div>
          <label for="staff" class="block text-sm font-medium text-gray-600">Select Staff</label>
          <select id="staff" name="staff" class="mt-1 p-2 block w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0" style="width: calc(100% - 12px);">
              {% for user in userAndUserType %}
                  {% if user.userdetail.user_type != "customer" and not user.is_superuser %}
                      <option value="{{ user.username }}">{{ user }} <span>-{{ user.userdetail.user_type }}</span></option>
                  {% endif %}
              {% endfor %}
          </select>
      </div>
      
        <div>
          <label for="date" class="block text-sm font-medium text-gray-600">Select Date</label>
          <input type="date" id="date" name="BookDate" class="mt-1 p-2 block w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0" style="width: calc(100% - 12px);" placeholder="Select Date">
        </div>
      </div>
      <div>
        <label for="time" class="block text-sm font-medium text-gray-600">Select Time</label>
        <input type="time" id="time" name="BookTime" class="mt-1 p-2 block w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0" style="width: calc(50% - 12px);"placeholder = "Select Time">
      </div>
      <br>
      <div>
        <label for="time" class="block text-sm font-medium text-gray-600">Description</label>
        <input type="text" name="description" class="mt-1 p-2 block w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0" style="width: calc(50% - 12px);"placeholder = "Add description">
      </div>
      <br>
      <!-- Button -->
      <div class="text-center">
        <button type="submit" class="primary bg-[#009688] hover:bg-cyan-600 text-white px-8 py-2">Book Appointment</button>
      </div>
      {% if messages %}
      <div class="alert alert-danger">
        <ul>
          {% for message in messages %}
            <li><i class=" text-red-500 mr-1"></i>{{ message }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    
    </form>
  </div>
  {% endblock %}
</body>
</html>
