<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing Page</title>
  <style>
    * {
       font-family: "Poppins", sans-serif;
     }
   </style> 
</head>

<body>
{% extends 'Base_Content/base.html'%}   
{% block content %} 



    <!-- Banner with Salon Image -->
  <div class="relative h-90 bg-cover bg-center bg-repeat flex justify-center items-center"> <img src="static/Image/home_bg.svg" alt="Your Salon Logo">
    <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center">
      <h1 class="text-white text-4xl font-bold mb-6" style="font-family: 'Poppins', sans-serif ">DISCOVER THE MORE ATTRACTIVE YOU</h1>
      <h4 class="text-white text-1.5xl font-regular mb-10" style="font-family: poppins ">WITH A WIDE RANGE OF BEAUTY TREATEMENTS, WE WILL HELP YOU TO ACHIEVE YOUR GOALS WHETHER IT BE WAXING OR SIMPLY A RELAXING HAIR MASSAGE</h4>
      {% if request.user.is_authenticated %}
    {% if request.user.userdetail.user_type == 'customer' %}
        <a href="{% url 'booking' %}" class="bg-[#009688] text-white px-6 py-3 rounded-full hover:bg-[#00BCD4]">Get Started</a>
    {% endif %}
{% else %}
    <a href="{% url 'login' %}" class="bg-[#009688] text-white px-6 py-3 rounded-full hover:bg-[#00BCD4]">Get Started</a>
{% endif %}

    </div>
  </div>

  <!-- Centered lines -->
  <br>
  <div class="  text-center">
    <h5 class="text-black text-1xl font-regular mb-2" style="font-family: poppins "> INDULGE YOURSELF</h5>
    <h2 class="text-black text-2xl font-semibold mb-3" style="font-family: poppins ">YOUR SECRET PLACE OF BEAUTY</h2>
    <p class="text-gray-700 mb-8">" Flawless skin and hair donot occur by chance, they are appointments away."</p>
  </div>

  <!-- Service Section -->
  <div class="container mx-auto grid grid-cols-1 md:grid-cols-3 gap-8">
    <!-- First row -->
    <div class="flex flex-col items-center">
      <img src="static/Image/service-1.jpg" alt="Service 1" class="service-image hover:scale-105 hover:shadow-xl ">
      <h3 class="text-lg font-semibold mt-4" style="font-family: poppins" >Makeup</h3>
      <p class="text-sm text-gray-600 text-center">Enhance your beauty with our makeup expertise.</p>
    </div>
    <div class="flex flex-col items-center">
      <img src="static/Image/service-2.jpg" alt="Service 2" class="service-image hover:scale-105 hover:shadow-xl ">
      <h3 class="text-lg font-semibold mt-4" style="font-family: poppins">Skin Care</h3>
      <p class="text-sm text-gray-600">Refresh and rejuvenate with our skin care solutions.</p>
    </div>
    <div class="flex flex-col items-center">
      <img src="static/Image/service-3.jpg" alt="Service 3" class="service-image hover:scale-105 hover:shadow-xl ">
      <h3 class="text-lg font-semibold mt-4"style="font-family: poppins">Hair-cut</h3>
      <p class="text-sm text-gray-600">Transform your appearance with a fresh and trendy haircut.</p>
    </div>
    <!-- Second row -->
    <div class="flex flex-col items-center">
      <img src="static/Image/Hair image/service-4.jpg" alt="Service 4" class="service-image  hover:scale-105 hover:shadow-xl ">
      <h3 class="text-lg font-semibold mt-4" style="font-family: poppins">Hair Color</h3>
      <p class="text-sm text-gray-600">Infuse life into your locks with our expert hair coloring services.</p>
    </div>
    <div class="flex flex-col items-center">
      <img src="static/Image/hair image/service-5.jpg" alt="Service 5" class="service-image hover:scale-105 hover:shadow-xl ">
      <h3 class="text-lg font-semibold mt-4"style="font-family: poppins">Hair Care</h3>
      <p class="text-sm text-gray-600 text-center">Nourish and pamper your hair with our rejuvenating hair care treatments.</p>
    </div>
    <div class="flex flex-col items-center">
      <img src="static/Image/skin/service-6.jpg" alt="Service 6" class="service-image hover:scale-105 hover:shadow-xl ">
      <h3 class="text-lg font-semibold mt-4"style="font-family: poppins">Laser skin resurfacing</h3>
      <p class="text-sm text-gray-600">Refresh your skin with laser therapy.</p>
    </div>
  </div>
<br> <Br> <br>
  <div class="flex mb-4 bg-[#F9EFED]">
     <!-- Left side -->
    <div class="w-1/2 pr-2 text-center ">
      <h3 class="text-lg font-semibold pt-20">TIME TO BEAUTIFUL</h3><BR>
      <h2 class="text-black text-2xl font-semibold mb-3" style="font-family: poppins ">READY TO ADD FRESH COLORS TO YOUR LIFE</h2>
      <p class="text-md text-gray-600 p-10 pt-3" >Indulge in a world of elegance and transformation at Aura Salon. Step into a sanctuary where beauty knows no bounds. From enchanting haircuts and exquisite hair color to rejuvenating skin treatments and flawless makeup, we're here to elevate your senses and bring out your inner radiance. Our talented team of stylists and aestheticians are dedicated to crafting personalized experiences tailored to your unique needs, ensuring every visit leaves you feeling renewed and empowered. Embrace a new era of beauty and confidence with Aura Salon.</p>
      <p class="text-md text-gray-600  p-10 pt-3">As a premier destination for beauty and wellness, we pride ourselves on using only the finest products and latest techniques to deliver exceptional results. Whether you're preparing for a special occasion or simply seeking a moment of self-care, our tranquil atmosphere and expert care will leave you feeling refreshed and rejuvenated. Experience the difference at Aura Salon, where every visit is a journey towards beauty, inside and out.</p>
    </div>
        <!-- Right side -->
    <div class="w-1/2 pl-2">
      <img src="static/Image/right-image.jpg" alt="Left Image" class="w-17 h-auto pt-10 pb-10">
    </div>
  </div>


<!-- Commend and Rewards Section -->
<div class="text-center my-8">
  <h2 class="text-2xl font-semibold mb-4">Commend and Rewards</h2>
  <div class="flex justify-center">
    <!-- First reward box -->
    <div class="bg-gray-200 p-4 rounded-lg shadow-md mx-4">
      <div class="flex flex-col items-center">
        <div class="text-3xl text-yellow-400">&#9733 &#9733 &#9733;</div> <!-- Star -->
        <p class="text-lg font-semibold">Harry Singh</p>
        <p>Murnu panchal is a makeup artist <br>who has been working here almost 10 yrs.</p>
        <p>3 stars</p>
      </div>
    </div>
    <!-- Second reward box -->
    <div class="bg-gray-200 p-4 rounded-lg shadow-md mx-4">
      <div class="flex flex-col items-center">
        <div class="text-3xl text-yellow-400">&#9733 &#9733 &#9733;</div> <!-- Star -->
        <p class="text-lg font-semibold">Murnu Panchal</p>
        <p>Murnu panchal is a makeup artist <br>who has been working here almost 10 yrs.</p>
        <p>3 stars</p>
      </div>
    </div>
    <!-- Third reward box -->
    <div class="bg-gray-200 p-4 rounded-lg shadow-md mx-4">
      <div class="flex flex-col items-center">
        <div class="text-3xl text-yellow-400">&#9733 &#9733 &#9733;</div> <!-- Star -->
        <p class="text-lg font-semibold">Smriti KC</p>
        <p>Murnu panchal is a makeup artist <br>who has been working here almost 10 yrs.</p>
        <p>3 stars</p>
      </div>
    </div>
  </div>
</div>



   {% endblock %}
</body>
</html>

